# Copy to /etc/minikv/volume-1.conf and edit listen/root paths per volume.
daemon off;
worker_processes auto;
pcre_jit on;
pid /var/lib/minikv/volume-1/nginx.pid;
error_log /var/log/minikv-volume-1.error.log error;

events {
  multi_accept on;
  accept_mutex off;
  worker_connections 4096;
}

http {
  sendfile on;
  sendfile_max_chunk 1024k;
  tcp_nopush on;
  tcp_nodelay on;
  open_file_cache off;
  types_hash_max_size 2048;
  server_tokens off;
  default_type application/octet-stream;
  access_log off;

  server {
    listen 0.0.0.0:3001 default_server backlog=4096;

    location / {
      root /var/lib/minikv/volume-1;
      disable_symlinks off;
      client_body_temp_path /var/lib/minikv/volume-1/body_temp;
      client_max_body_size 0;
      dav_methods PUT DELETE;
      dav_access group:rw all:r;
      create_full_put_path on;
      autoindex on;
      autoindex_format json;
    }
  }
}
